* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.flux {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.home-cover__title {
  font-family: "Playfair Display", serif;
  color: #455980;
  font-size: 2.5rem;
}

.button, .button--blue, .button--light-blue, .home-cover_paragraph {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
}

.home-cover__advantage, .header__list {
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;
}

.home-cover_paragraph, .home-cover__advantage, .header__list {
  color: #455980;
}

.home-cover__title span {
  color: #0c6cf3;
}

.button, .button--blue, .button--light-blue {
  margin-top: 0.5rem;
}

.home-cover_paragraph, .home-cover__advantage {
  margin-top: 1rem;
}

.home-cover__texts {
  margin-top: 4rem;
}

.header {
  display: flex;
  padding: 1.5rem 0;
}
.header__logo {
  flex-shrink: 0;
  margin-right: 3rem;
  width: 10rem;
}
.header__navbar {
  flex-flow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  display: flex;
}

.home-cover {
  background-image: linear-gradient(0, #ffffff 0% 20%, #f1f7fd -80%);
}
.home-cover__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: "row";
  background-color: yellow;
}
.home-cover__texts {
  flex-grow: 1;
  padding-right: 5rem;
}
.home-cover_cta {
  padding-right: 7.5rem;
  margin-top: 2rem;
}
.home-cover__list-advantages {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: "row";
  gap: 0.5rem;
}
.home-cover__advantage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: "row";
}
.home-cover__check {
  height: 1rem;
  width: 1rem;
}
.home-cover__medias {
  width: 50%;
  padding-left: 5rem;
  position: relative;
  flex-shrink: 0;
}
.home-cover__image {
  width: 100%;
  height: auto;
}
.home-cover__play {
  align-items: center;
  background-color: #17294d;
  border-radius: 100%;
  display: flex;
  fill: white;
  height: 5rem;
  justify-content: center;
  position: absolute;
  width: 5rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.button, .button--light-blue, .button--blue {
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  transition: 0.5s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: "row";
}
.button:not(.button--blue):hover, .button--light-blue:not(.button--blue):hover, .button--blue:not(.button--blue):hover {
  color: #0c6cf3;
}
.button__icon {
  fill: #ffffff;
  margin-left: 0.5rem;
}
.button--blue {
  background-color: #0c6cf3;
  color: #ffffff;
  fill: #ffffff;
}
.button--blue:hover {
  background-color: #0a56c2;
}
.button--light-blue {
  background-color: #e2f0fd;
  color: #0c6cf3;
  fill: #0c6cf3;
}
.button--light-blue:hover {
  background-color: #b2d7fa;
}/*# sourceMappingURL=main.css.map */